In [12]:
data_file = "obitos-infantis-2010-2013-brasil.csv"

In [13]:
import pandas

In [14]:
dados = pandas.read_csv(data_file, sep=";")
dados.head(10)

,Região,RO,AC,AM,RR,PA,AP,TO,MA,PI,...,RJ,SP,PR,SC,RS,MS,MT,GO,DF,Total
0,1 Região Norte,1588,1097,5017,636,9648,1208,1464,-,-,...,-,-,-,-,-,-,-,-,-,20658
1,2 Região Nordeste,-,-,-,-,-,-,-,7398,3238,...,-,-,-,-,-,-,-,-,-,51447
2,3 Região Sudeste,-,-,-,-,-,-,-,-,-,...,12083,28439,-,-,-,-,-,-,-,56154
3,4 Região Sul,-,-,-,-,-,-,-,-,-,...,-,-,7124,3803,6067,-,-,-,-,16994
4,5 Região Centro-Oeste,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,2296,2969,5026,2131,12422
5,Total,1588,1097,5017,636,9648,1208,1464,7398,3238,...,12083,28439,7124,3803,6067,2296,2969,5026,2131,157675
6,&,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
dados.describe()

               Total
count       6.000000
mean    52558.333333
std     54693.794561
min     12422.000000
25%     17910.000000
50%     36052.500000
75%     54977.250000
max    157675.000000

In [16]:
import matplotlib.pyplot as pyplot
import matplotlib

In [19]:
matplotlib.style.use('ggplot')
dados.plot(kind="hist")
pyplot.show()